.list {
    display: flex;
    flex-wrap: wrap; /* Карточки будут оборачиваться на новую строку */
    justify-content: space-between;
    gap: 20px;
}

.total {
    width: 100%;
    text-align: right;
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
}

/* Адаптивные стили */
@media (max-width: 768px) {
    .list {
        flex-direction: column; /* На мобильных устройствах карточки будут отображаться по одной колонке */
        gap: 10px;
    }

    .total {
        text-align: center; /* Выровнять общую сумму по центру */
        font-size: 18px;
    }
}
