.bag-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
}

.bag-item-image {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.bag-item-info {
    flex: 1;
}

.remove-btn {
    padding: 10px 20px;
    background-color: #ff4d4f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.remove-btn:hover {
    background-color: #ff7875;
}
