.App {
    background-color: transparent; /* Проверяем, чтобы фон не был задан здесь */
    text-align: center;
}

.content {
    padding-top: 100px; /* Уменьшаем отступ между хедером и основной информацией */
}

/* Для мобильных устройств */
@media (max-width: 768px) {
    .content {
        padding-top: 80px; /* Уменьшенный отступ для мобильных */
    }
}

@media (max-width: 480px) {
    .content {
        padding-top: 70px; /* Ещё меньше для очень маленьких экранов */
    }
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}


